<app-breadcrumbs [steps]="breadcrumbSteps"></app-breadcrumbs>
<div class="trip-list-container">
  <div class="header">
    <h1>Trips</h1>
    <button class="btn btn-primary" (click)="addTrip()">Trip hinzufügen</button>
  </div>

  @if (selectedSeason && selectedSeason.trips) {
    @for (trip of selectedSeason.trips; track trip.id) {
      <div class="trip-card" (click)="openTrip(trip)">
        <div class="trip-header">
          <h3 class="trip-destination">{{ trip.destination }}</h3>
          <span class="trip-dates">{{ trip.start | date:'dd.MM.yyyy' }}</span>
        </div>
        <div class="trip-details">
          <div class="detail-item">
            <span class="label">Tage:</span>
            <span class="value">{{ trip.skiDays.length }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Dabei:</span>
            <span class="value">{{ trip.people }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Beschreibung:</span>
            <span class="value">{{ trip.description }}</span>
          </div>
        </div>
      </div>
    }
  } @else {
    Noch keine Saison oder Reisen gefunden!
  }
</div>
